<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="铃声不外放（LSPosed）"
        android:supportsRtl="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="连接蓝牙或有线耳机时，禁止手机扬声器播放电话铃声和通知音；断开后恢复系统行为。" />
        <meta-data android:name="xposedminversion" android:value="82" />
    </application>
</manifest>
